<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4"> Send Message</h1>
        <br>
        <input type="text" class="form-control" placeholder="Name">
        <textarea class="form-control" placeholder="Your Message Here"></textarea>
        <br>
        <button class="form-control">Send</button>
    </div>
</div>