<div class="container">
<div class="row justify-content-center">
    <div class="col cl-sm-3">
        <form action="/login" method="post">
           
            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
                <input type="email" name="email" class="form-control {{#if errors.email}} is-invalid" {{/if}} placeholder="Email" aria-label="Email" value="{{user.email}}">               
            </div>

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="password" name="password" class="form-control {{#if errors.password}} is-invalid" {{/if}} placeholder="Password" aria-label="Username" value="{{user.password}}">
            </div>

            {{#if errors.invalidSession}}
            <p class="btn-danger p-3 text-center">{{errors.invalidSession}}</p>
            {{/if}}

            <button type="submit">Log in</button>

        </form>
    </div>
</div>
</div>