<form  method="get" class="d-flex">
    <select  name="filterCategory" id="">
          {{#each categoriesList as |category|}}
            <option  value="{{category}}">{{category}}</option>
            {{/each}}
    </select>
    <button type="submit">Filter</button>
</form>