<!-- Footer -->
<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
         <section class="mb-4">
      <h3>
        Plan-in-there. Connecting people
      </h3>
      <hr>
    </section>
          <!--Grid column-->

          <!--Grid column-->
          
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">EVENTS</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/events" class="text-white">View events</a>
            </li>
            <li>
              <a href="/events/create" class="text-white">Crate an event</a>
            </li>
        
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">USER</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/user-profile/{{currentUser.id}}" class="text-white">My profile</a>
            </li>
            <li>
              <a href="/user-profile/my-events" class="text-white">My plans</a>
            </li>
           
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">ABOU US</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/plan-in-there" class="text-white">what is plan in there?</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">JOIN</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/register" class="text-white">Register</a>
            </li>
            <li>
              <a href="/login" class="text-white">Login</a>
            </li>
           
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer-green">
    © 2021 IronHack project by <a href="https://www.linkedin.com/in/edgar-hidalgo-soriano/" >Edgar Hidalgo</a> & <a href="https://www.linkedin.com/in/catuxa-alonso-jorge/">Catuxa Alonso</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->