{{!-- <form action="/events/{{event.id}}" method="post" class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form> --}}
<form method="GET">
	<div class="d-flex input-search-navbar mobile-none-nav">
		<input type="text" name="searchInput" id="filter-word" class="w-100" placeholder="search experiences">
		<button type="submit" id="filter-button"><i class="fas fa-search"></i>Search</button>
	</div>
</form>