<nav class="user-nav">
    <ul>
        <li><a href="/user-profile/my-events">My plans</a></li>            
        <li><a href="/events/create">Add an event</a></li>
        <form method="POST" action="/user-profile/chat/{{user.id}}">
            <button type="submit" >Chat with me!</a>
        </form>
    </ul>
</nav>