

@font-face {
    font-family: 'quicksanddash';
    src: url('../fonts/quicksand_dash-webfont.woff2') format('woff2'),
         url('../fonts/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold_italic';
    src: url('../fonts/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksanditalic';
    src: url('../fonts/quicksand-italic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight_italic';
    src: url('../fonts/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'reem_kufiregular';
    src: url('../fonts/reemkufi-regular-webfont.woff2') format('woff2'),
         url('../fonts/reemkufi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #f61816; 
    background: linear-gradient(180deg, #f61816 0%, #f50c70 100%);
    text-align: center;
  }

.form-control, input {
    background-color: transparent;
    border: solid thin #a6f7cc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

.home-in input {
    border: solid thin #fff;
    color: #fff;
    width: 60% !important;
    max-width: 700px;
    
}

.home-in .input-group-text{
    background-color: transparent;
    color: #fff;
}

.home-in input::placeholder {
    color: #fff;
}

button {
    background-color: #f50c70 ;
    color: #fff;
    border: #fff thin solid;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2% 0 0 0;
    width: 100%;
    transition-duration: 0.4s;
}

.black {
    background-color: black;
}
.blue {
    background-color: darkslateblue;
}

.home-in input:-internal-autofill-selected {
    background-color: transparent !important
}

h1 {
    margin-bottom: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 4rem;
    font-family: 'reem_kufiregular';
    color: #f50c70
}

.home-in h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 5rem;
    color:#fff;  
}

h2 {
    color:#ccc;
    font-size: 2rem;
    font-family: 'reem_kufiregular';    
}

.home-in h2 {
    color: #fff;
}

h3 {
    font-family: 'quicksandlight'
}

.container {
    width: 100%;
    align-items: center;
    align-content: center;
    margin: auto;

}

header img {
    width:100%;
    max-width: 100px ;
}

.bg-light {
    background-color: transparent !important;
    border-bottom: thin solid #fff
 
}

.input-group-text i {
    background: -webkit-linear-gradient(#f61816, #f50c70);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-in .input-group-text i {
    background: none !important;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
}

.home-in .form-control {
    background-color: transparent !important;
    color: #fff
}

.home-in .form-control input::placeholder {
    color: #fff;
}


main {
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;  
    background-color: #fff;
}

.home-in  {
    background-color: transparent !important;
}

nav {
    font-family: 'quicksandbold';
    padding: 50px 50px 0 50px;  
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f61816; 
    background: linear-gradient(90deg, #f61816 0%, #f50c70 100%);
    text-align: center; 
}

.home-nav {
    background-color: transparent !important;
    background: none !important
}

.search-nav {
    background-color: transparent !important;
    background: none !important;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.home img {
    width:100%;
    max-width: 500px;
}

.home a {
    background-color: #17f781;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.3rem;    
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
    border-radius: 5px;
    transition: 0.4s;
}

.home a:hover {
    background-color: #F50C70;
    border-image-source: linear-gradient(to left, #f61686, #d38baa);
}

#avatar {

    border-radius: 100px !important;
    max-width: 20px !important

}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social button, .social a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 1%;
    transition-duration: 0.4s;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

button:hover, .social a:hover {
    background-color: #17F781;
    color: white;
}

.user-nav {
    background-color: #17F781 !important ;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
    background: none;
}

.user-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-nav li {
    border-bottom: #fff solid thin;
    
}

.user-nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'reem_kufiregular';
    font-size: 1rem;
    transition-duration: 0.4s;
    display: block;
    padding:10px;
}

.user-nav a:hover, #profile a:hover {
    background-color: #F50C70;
}

#profile {
    display: flex;
    justify-content: space-around;
}

#profile a {
    background-color: #17F781 ;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    transition-duration: 0.4s;
    border: solid #fff thin
}

#profile input {
    width: 100%;
}

#profile img {
    width: 100%;
    max-width: 300px;
}
fieldset {
    display: flex;
    flex-direction: row;
    margin: 2% 0;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

fieldset img{
    max-width: 100px;
}

.category-icons {
    background: -webkit-linear-gradient(#f61816, #f50c70);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    padding: 10px;
}

fieldset label {
    min-width: 120px;
    max-width: 120px;
    background-color: #fff;
}


fieldset h5 {
    color: #17f781;
    font-size: 1rem;
    text-align: center;
}

.form {
    text-align: left;
}


.card {
    border-radius: 20px
}

.card h3 {
 background-color: #F50C70;
 color: #fff;
}

.card h4{
    background-color: #fff;
    color: #F50C70;
    font-size: 1rem;
    margin-top: 10px;
}
.card p {
    margin: 10px;
}
.fa-calendar-day:before {
    content: "\f783";
    color: black;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
    color: black;
}

.btn-primary {
    background-color: #F50C70;
}

.drawings img{
    padding-right: 40px !important;
   
}

.checked-box {
    visibility: hidden;
    width: 0;
    height: 0;
}

.card-active {
    font-size: 60px;
    padding: 10px;
    background: linear-gradient(180deg, #f61816 0%, #f50c70 100%);
    color:#fff !important;
    width: 100%;
    height: 100%;
  
}

.card-active h2 { 
    color:#fff !important;  
    margin: 0;
}

.card-active h5 { 
    color:#fff !important;  
}

.icons {
    width: 200px;
    display: block;
}

.category-list {
    text-align: center;
    border: #ccc solid thin;
}

.category-list h2 {
    display: block;
    width: 100%;
    text-align: center;

}

#event-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

#event-list img {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
}

#event-list > div {
    width: 30%;
    margin: 2%;
    padding: 0%;
    box-sizing: border-box;
}

.event-card {
    border: none;
    width: 30%;
    max-width: 400px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.event-card h3 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 3%;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.event-card h4 {
    font-size: 1rem;
}

.event-card img {  
    max-height: 300px;
    width: 100%;
    max-width: 365px;
}

.event-card a {
    background-color: #17f781;
    color: #fff;
    font-weight: bold;
    width: 50%;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
}

.event-card a:hover {
    background-color: #f50c70;
}

.card-deck {
    display: flex;
    justify-content: space-between;

}

.bt-green a{
    color: #17f781 !important;
    background-color: transparent !important;
    width: 100%;
}

.join {
    visibility: visible;
}

.delete {
    visibility: hidden;
}