

@font-face {
    font-family: 'quicksanddash';
    src: url('../fonts/quicksand_dash-webfont.woff2') format('woff2'),
         url('../fonts/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold_italic';
    src: url('../fonts/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksanditalic';
    src: url('../fonts/quicksand-italic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight_italic';
    src: url('../fonts/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'reem_kufiregular';
    src: url('../fonts/reemkufi-regular-webfont.woff2') format('woff2'),
         url('../fonts/reemkufi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f61816; 
    background: linear-gradient(180deg, #f61816 0%, #f50c70 100%);
    text-align: center;
  }

input {
    border: solid thin #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 3px;
    padding: 1%;
    width: 80%;
}

.input-group-text{
    background-color: transparent;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

button {
    background-color: #f50c70 ;
    color: #fff;
    border: #fff thin solid;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2% 0 0 0;
    width: 100%
}

.black {
    background-color: black;
}
.blue {
    background-color: darkslateblue;
}

input:-internal-autofill-selected {
    background-color: transparent !important
}

h1 {
    color:#fff;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    font-size: 5rem;
    font-family: 'reem_kufiregular';
    
}

h2 {
    color: #fff;
    font-size: 2rem;
    font-family: 'reem_kufiregular';
    
}

h3 {
    font-family: 'quicksandlight'
}


.container {
    width: 100%;
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: blue;

}

header img {
    width:100%;
    max-width: 100px ;
}

.bg-light {
    background-color: transparent !important;
    border-bottom: thin solid #fff
 
}

.form-control {
    background-color: transparent !important;
    color: #fff
}

.form-contro input::placeholder {
    color: #fff;
}

main {
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

nav {
    font-family: 'quicksandbold'
}

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;


}

.home img {
    width:100%;
    max-width: 500px;
}

.home a {
    background-color: #17f781;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.3rem;    
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
    border-radius: 5px;
}