<form action="/user-profile/messages" method="post">
    <div class="form-floating">
        <h3>Written by Juancho</h3>
        <textarea class="form-control" name='message' placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
        <button type="submit">Enter</button>
    </div>
</form>