<h1>Plan in-there</h1>
<h2>connecting people</h2>
<h3>We have people, we have plans, you choose</h3>
<div class="home">
    <img src="./img/people.png" alt="we connect people"/>
    <a href="/register">Register today</a>
</div>