<h1>What is Plan-in-there?</h1>
<h2>The new social app that connects people</h2>
<div id="whoweare">
    <img src="/img/my-events.png" alt="People dinner in company"/>
    <div>
        <h4>Newie in the city?<br>
            No appoinments for that new local?<br>
            Your friends hates your music taste?</h4>
        <h3>Plan-in-there is your solution!</h3>
    <p>
        So, what exactly is Plan-in-there?
    </p>
    <p>
        We have created an app that allows people over the world to connect with other people across plans. Once you are register you will gain acces a plans that other people have created and that you can join by a simple click. You also can create your own plans an invite people to join.
    </p>
    <p>
        So if you are newie or visiting another city, your friends really hates your tastes or simply want to know some interesting people, join Plan-in-there!
    </p>
        <a href="/register">Register today</a>
    </div>
</div>