<h1>What is Plan-in-there?</h1>
<h2>The new social app that connects people</h2>
<div id="whoweare">
    <img src="/img/my-events.png" alt="People dinner in company"/>
    <div>
        <h4>Newie in the city?<br>
            No appoinments for that new local?<br>
            Your friends hates your music taste?</h4>
        <h3>Plan-in-there is your solution!</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at molestie lectus, sed bibendum libero. Praesent posuere aliquam est, eget varius neque vehicula at. Donec non pellentesque massa. Ut pretium nisl ac ornare luctus. Morbi pretium, sem sit amet malesuada porttitor, libero arcu laoreet nibh, eget hendrerit purus turpis ac justo. Vivamus ultricies leo a dolor imperdiet, eget porta libero cursus. Fusce rutrum dolor a orci iaculis, a sollicitudin ante ultricies. Donec magna nulla, rutrum nec arcu vel, rutrum rhoncus massa. Cras convallis dolor ut condimentum imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean massa risus, tristique et mollis non, pretium nec tortor. Aenean tortor elit, maximus sit amet tristique sit amet, gravida ac leo.
    </p>
        <a href="/register">Register today</a>
    </div>
</div>